<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trustList</key>
	<dict>
		<key>B8001E18E435AE4D30388A3129AD9E6ECCE54005</key>
		<dict>
			<key>issuerName</key>
			<data>
			MIGaMQswCQYDVQQGEwJVUzETMBEGA1UECAwKV2FzaGluZ3RvbjEQ
			MA4GA1UEBwwHU2VhdHRsZTEPMA0GA1UECgwGQW1hem9uMQ0wCwYD
			VQQLDARTREtzMRIwEAYDVQQDDAlsb2NhbGhvc3QxMDAuBgkqhkiG
			9w0BCQEWIWF3cy1zZGstY29tbW9uLXJ1bnRpbWVAYW1hem9uLmNv
			bQ==
			</data>
			<key>modDate</key>
			<date>2026-04-30T21:41:47Z</date>
			<key>serialNumber</key>
			<data>
			FFFuCC0tk+iT+glySWLHIao2/CE=
			</data>
			<key>trustSettings</key>
			<array>
				<dict>
					<key>kSecTrustSettingsResult</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>trustVersion</key>
	<integer>1</integer>
</dict>
</plist>
