# Alarm on changes to epoll_event_loop implementation

name: ProofAlarm

on: [push]

jobs:
  check-for-changes:

    runs-on: ubuntu-20.04 # latest

    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1

    - name: Check
      run: |
        TMPFILE=$(mktemp)
        echo "c624a28de5af7f851a240a1e65a26c01  source/linux/epoll_event_loop.c" > $TMPFILE
        md5sum --check $TMPFILE

    # No further steps if successful

    - name: Echo fail
      if: failure()
      run: |
          echo "The VCC proofs are based on a snapshot of epoll_event_loop.c.
                This push updates this file so the proofs must be rechecked to ensure they remain valid.
                Please contact Nathan Chong.
                You can also update md5sum value by running md5sum source/linux/epoll_event_loop.c if the changes are trivial."
